// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"
outdir = "$launchDir/output"
// Metadata

anndata = "${outdir}/index+matrices+normalized.anndata.zarr"

nmf_params_list = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled_no_cancer/nmf_params.scaled_weights.tsv"
