// Installed conda path
conda = "/home/sabramov/miniconda3/envs/jupyterlab"
outdir = "$launchDir/output"
// Metadata
nmf_params = '/' // List of IDs to process
nmf_params_list = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled_no_cancer/nmf_params.scaled_weights.tsv"

top_count = 10 // for component's tracks (averaged top10 samples)
